{% extends 'base.html' %}
{% load static %}
{% block title %}
KM Healing Foundation -User Details
{% endblock %}
{% block styles %}
<style>
  body {
    font-family: 'Inter', sans-serif;
  }

  h1,
  h2 {
    font-family: 'Playfair Display', serif;
  }

  .text-gold {
    color: #FFD700;
    /* Gold color */
  }

  .border-gold {
    border-color: #FFD700;
    /* Gold border */
  }
</style>
{% endblock %}

{% block content %}
<div class="bg-[#F4F4F4] text-gray-700">


  <main class="container mx-auto p-6">
    <h1 class="text-3xl font-bold text-gray-800 mb-6">{{ user.get_full_name }}</h1>
    <div class="bg-[#E1F5EA] shadow-lg rounded-lg p-6">
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Username:</strong> {{ user.username }}</p>
    </div>

    <section class="mt-6">
      <h2 class="text-2xl font-semibold text-gray-700 mb-4">User's Bookings</h2>
      {% if bookings %}
      <ul class="bg-[#E1F5EA] shadow-lg rounded-lg p-6">
        {% for booking in bookings %}
        <li class="py-2 border-b border-gray-200">
          {{ booking.first_name }} - {{ booking.phone }}</li>
        <p>Email: {{ booking.email }}</p>
        <p>Gender: {{ booking.gender }}</p>
        <p>Date of Birth: {{ booking.date_of_birth }}</p>
        <p>Age: {{ booking.age }}</p>
        <P>Session Name: {{ booking.service_title }}</P>
        <p>Duration: {{ booking.service_duration }}</p>
        <p>Mode of Service: {{ booking.service_mode }}</p>
        <p>Location: {{ booking.service_location }}</p>
        <p>Instructor: {{ booking.service_instructor }}</p>
        <p>Session Date: From {{ booking.service_date_from|date:"F j, Y" }} to {{ booking.service_date_to|date:"F j, Y"
          }}</p>
        <p>Time: From {{ booking.service_time_from|time:"g:i A" }} to {{ booking.service_time_to|time:"g:i A" }}
        </p>
        <p><strong>Price:</strong> ₹{{ booking.service_price }}</p>
        <p>Booked on: {{ booking.created_at }}</p>

        {% endfor %}
      </ul>
      {% else %}
      <p class="text-gray-600">No bookings found for this user.</p>
      {% endif %}
    </section>
  </main>
</div>
{% endblock %}